<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>wikinear.com</title>
</head>
<body>

<h1>wikinear.com</h1>

<p><strong>wikinear.com</strong> shows Wikipedia pages near you, based on your location according to <a href="http://fireeagle.yahoo.net/">Yahoo! Fire Eagle</a>. The site is optimised for use on a mobile phone.</p>

<p>Your location is only used to find nearby Wikipedia pages; it is not stored in any way.</p>

<p><a href="/auth/">Get started!</a></p>

<p id="builtby" style="font-size: 0.8em; color: #666;">Built by <a href="http://simonwillison.net/2008/Mar/22/wikinear/">Simon Willison</a></p>

</body>
</html>
